header {
    background-color: blue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 58.44px;
}

#title {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    /* text-decoration: none; */
    font-size: 30px;
    color: white;
}

